body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.faIcon {
  width: 40px;
  height: 40px;
  margin: 0 20px 20px 20px;
}

.icon-button {
  width: 100%;
}

.icon-button-icon {
  width: 2rem;
  height: auto;
  margin-right: 4px;
}

.project-img {
  border-radius: 10px;
  max-width: 300px;
  height: auto;
  max-height: 400px;
}

.project-note {
  font-size: 0.75rem;
  font-weight: bold;
}

.proj-card {
  border-radius: 10px;
  border: 6px solid rgb(7, 176, 176);
}

.icon-button-a .icon-button h5 {
  font-size: 0.9rem;
  color:rgb(107, 123, 123);
}

.icon-button-a .icon-button h5:hover,
.icon-button-a:hover  {
  font-weight: bold;
  color:rgb(140, 61, 69);
}

.lead {
  color: black;
}

.red {
  filter: invert(16%) sepia(93%) saturate(6311%) hue-rotate(358deg) brightness(112%) contrast(119%);
}

.cancel {
  background: none;
  border: 0;
  position: fixed;
  top: 20px;
  right: 20px;
}